<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

  <table appMovable [appMovableReset]="true" class="w3-table-all w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th>Nom</th>
      <th>N° securité social</th>
      <th>Adresse</th>
    </tr>
    </thead>
    <tr >
      <td >{{getFullName()}}</td>
      <td>{{getNumsecu()}}</td>
      <td>{{getAdresse()}}</td>

    </tr>
  </table>
</div>

</body>
</html>

