<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  style="width: 100%;text-align: center">Cabinet Medical</span>
  </mat-toolbar-row>
  </mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row>
    <span><b>Infirmiers</b></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
<section *ngFor="let inf of getInfirmiers()">

  <app-infirmier [data]="inf"></app-infirmier>

  <section alx-dropzone
     (alx-ondrop)= "affecterPatient(inf.id,$event)"
     alx-dragstart-css="dropCandidate"
     alx-draghover-css="canDrop"></section>

  <ul appSortableList (sort)="sort($event)">

    <li *ngFor="let pat of inf.patients" class="foo" appSortable>
       <app-patient [data]="pat"></app-patient>
      <div class="foo" *appDraggableHelper><app-patient [data]="pat"></app-patient></div>
      <button mat-raised-button color="warn" (click)="desaffecterPatient(inf.id,pat)">Delete</button>
    </li>

  </ul>
</section>
  </mat-card>


<mat-toolbar>
  <mat-toolbar-row>
    <span><b>Patients Non Affecter</b></span>
  </mat-toolbar-row>
</mat-toolbar>


<section *ngFor="let pat of getPatientsNF()">
  <mat-card>
  <app-patient [data]="pat"
               [alx-draggable]="pat"></app-patient>
    <mat-card-actions>
      <input matInput placeholder="Entrez l'ID " #idF >
      <button  mat-raised-button color="primary" (click)="affecterPatient(idF.value,pat)">Affecter</button>
      <button mat-raised-button color="warn" (click)="SuppPatient(pat)">X</button>

    </mat-card-actions>
  </mat-card>
</section>

<hr/>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><b>Ajouter Patients</b></span>
  </mat-toolbar-row>
</mat-toolbar>

<form >
<mat-accordion>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title >Ajouter un Patient </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput placeholder="Nom" #name required>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Prenom" #prenom required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Sexe" #sexe required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Num SS" #numSecu required>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Etage" #etage required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Num Rue" #numRue required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Rue" #rue required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Code Postal" #codeP required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ville" #ville required>
  </mat-form-field>
  </mat-expansion-panel>
  <button mat-raised-button type="button" color="primary" (click)="createPatient(name.value, prenom.value, sexe.value, numSecu.value, etage.value, numRue.value, rue.value, codeP.value, ville.value)">
    Ajouter
  </button>

</mat-accordion>
</form>

<section [alx-draggable]="Bonjour" ></section>
<section alx-dropzone (alx-ondrop)="DoSomethingWhenDrop($event)"
         alx-dragstart-css="dropCandidate"
         alx-dragover-css="canDrop">
</section>


