<mat-card appMovable [appMovableReset]="true">
  <mat-card-header>
    <img mat-card-avatar="" src="data/{{getPhoto()}}">
    <mat-card-title> <h1>{{getFullName()}} </h1> </mat-card-title>
    <mat-card-subtitle> ID : {{getId()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{getAdresse()}}
  </mat-card-content>
</mat-card>

<mat-toolbar color="accent" appMovable [appMovableReset]="true">
  <mat-toolbar-row>
    <h2>Patients de {{getFullName()}}</h2>
  </mat-toolbar-row>
</mat-toolbar>
